*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    
    background-color: gray;
}
.all{
   margin-top: 100px;
}
.title{
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
    padding: 20px;
}
.flex-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: center;
   

}
.column{
    display: flex;
    flex: 50%;
    max-width: 50%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.reseting{
    width: 150px;
    padding: 6px;
}

.scoresTable{
    padding: 30px;
    border: black 2px solid;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
}
.row:nth-of-type(2){
    padding: 20px;
}


/* Gra */
.game{
    border: 2px solid rgb(105, 89, 89);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
}

.row-min{
    width: 100%;
   
    display: flex;
    justify-content: center;
}
.col-min{
    flex: 33.3%;
    max-width: 33.3%;
    justify-content: space-around;
    display: flex;
}
.col-min button{
    justify-content: space-between;
    padding: 5px;
    flex: 30%;
    margin: 5px;
    font-size: 20px;
}